<div class="navbar-container">
  <div class="logo">
    <img src="../../../assets/logo_navbar.png" alt="logo" />
  </div>
  <div class="menu">
    <button mat-button class="link" (click)="goToHome()">Home</button>
    <button mat-button class="link" (click)="goToLitepaper()">Litepaper</button>
    <button mat-button class="link" (click)="goToRoadmap()">Roadmap</button>
    <button mat-button class="link" (click)="goToCollection()">Collection</button>
    <button mat-button class="link" (click)="goToAbout()">About</button>
    <button mat-button class="link" (click)="goToFAQs()">FAQs</button>
    <button mat-button class="link" (click)="goToLinks()">Partners&Collabs</button>
    <button mat-button class="link" (click)="goToLinks()">Links</button>
  </div>
  <div class="languages">
    <button mat-raised-button mat-stroked-button>Spanish <span class="flag-icon flag-icon-es flag-icon-retangle"></span></button>
    <button mat-raised-button mat-stroked-button>English <span class="flag-icon flag-icon-gb flag-icon-retangle"></span></button>
  </div>
</div>
