.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 135px;
  padding: 10px;
  position: fixed;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  z-index: 10;

  .logo {
    display: flex;
    width: 290px;

    img {
      width: 245px;
      height: 115px;
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    width: 25%;
    place-items: center;
    width: 800px;

    .link {
      height: 65%;
      display: flex;
      place-items: center;
      font-family: 'SyneMono';
      font-weight: bolder;

      ::ng-deep {
        span {
          display: flex;
          place-items: center;
          justify-content: center;
        }
      }
    }

    .link:hover {
      background-color: aquamarine;
    }
  }

  .languages {
    display: flex;
    width: 230px;
    width: 290px;
    place-items: center;
    justify-content: space-around;

    button {
      font-family: 'HiMelody';
      font-size: 20px;
      font-weight: bolder;
      height: 60px;
      width: 120px;
    }
  }
}
