<hbar-navbar></hbar-navbar>

<div class="section-container">
  <section id="home" class="full-screen">
    1
  </section>
  <section id="litepaper" class="full-screen">
    <div class="section-container">
      <div class="text-container">
        <div class="title">Litepaper</div>
        <p>
          Aquí encuentra una explicación detallada y resumida sobre el proyecto Otaru DAO.
          <br>
          <br>
          Su colección insignia es el NFT CLAY Silveredge Gen 0 del cuál solo existirán 1000 ejemplares.
          <br>
          <br>
          Las utilidades de este proyecto se diferencian de muchos otros principalmente en su enfoque para
          beneficiar al usuario, por ejemplo, un tokenomics en dónde el 85% va dirigido a los poseedores.
        </p>
      </div>
      <div class="nft">
        <div class="image-container">
          <a
            href="https://docs.google.com/document/d/1xmVKPxjpaq_nliy-yUVe2N2SHT0pC5mW8Vo_OSwhQ-c/edit"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="image"
              matTooltip="Haz clic en mi"
              matTooltipPosition="above"
              matTooltipClass="tooltip"
              src="../assets/nft.jpg"
              alt="NFT"
            >
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="roadmap" class="full-screen">
    3
  </section>
  <section id="collection" class="full-screen">
    4
  </section>
  <section id="about" class="full-screen">
    5
  </section>
  <section id="faqs" class="full-screen">
    6
  </section>
  <section id="links" class="full-screen">
    7
  </section>
</div>