/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // font-size: 20px;
}

.tooltip {
  font-size: 20px;
  font-weight: bolder;
  color: #891e1e !important;
  position: fixed;
  // left: 67%;
  // top: 14%;
}

@font-face {
  font-family: "HiMelody";
  src: local("HiMelody"), url(./assets/fonts/HiMelody/HiMelody-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "SpecialElite";
  src: local("HiMelody"), url(./assets/fonts/SpecialElite/SpecialElite-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "SyneMono";
  src: local("HiMelody"), url(./assets/fonts/SyneMono/SyneMono-Regular.ttf) format("truetype");
}